table {
  width: 100%;
}

table th, td {
  border: 1px solid #ccc;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
}

table td {
  background-color: #eee;
}

p {
  display: block;
  background-color: #eee;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
